
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Tạo danh mục</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <%= form_for [:admin, @category], html: {class: "outer-repeater", remote: false,multipart: true } do |f| %>
                                            <%= render partial: 'form', :locals => {:f => f}%>
                                             <div class="row justify-content-end">
                                                <div class="col-lg-10">
                                                    <button type="submit" class="btn btn-primary new-post">Tạo danh mục</button>
                                                    <%= link_to "Hủy", admin_categories_path , class: "btn btn-secondary" %>
                                                    
                                                </div>
                                            </div>
                                        
                                            <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- end row -->