@import "frontend/mixin";
@import "frontend/global";
@import "frontend/main";
@import "frontend/header";
@import "frontend/category";
@import "frontend/post";

.topnav{
    margin-top: 80px !important;
    position: relative;
}
.avatar-icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background: gainsboro;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #000;
}
