
                 <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 >Thay đổi mật khẩu</h2>
                                          
                                            <%= form_for [:admin, @user], html: {class: "outer-repeater custom-validation py-5", remote: false} do |f| %>
                                                <div class="outer">
                                                            <div class="outer">
                                                                <div class="form-group row mb-4">
                                                                    <label for="taskname" class="col-form-label col-lg-2">Mật khẩu hiện tại</label>
                                                                    <div class="col-lg-10">
                                                                        <%= f.password_field :current_password ,class: 'form-control title_post', required: true   %>
                                                                    </div>
                                                                </div>

                                                                 <div class="form-group row mb-4">
                                                                    <label for="taskname" class="col-form-label col-lg-2">Mật khẩu mới</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="password" id="pass2" class="form-control" required="" placeholder="Password">
                                                                    </div>
                                                            
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="taskname" class="col-form-label col-lg-2">Xác nhận mật khẩu</label>
                                                                    <div class="col-lg-10">
                                                                        <input type="password" class="form-control" required="" data-parsley-equalto="#pass2" placeholder="Re-Type Password">
                                                                    </div>
                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-end">
                                                            <div class="col-lg-10">
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">Cập nhật</button>
                                                                <%= link_to "Hủy", admin_users_path , class: "btn btn-secondary" %> 
                                                            </div>
                                                        </div>
                                        
                                            <% end %>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->